{% if section.settings.enable_wave %}
  {% render 'wave-snippet' %}
{% endif %}



<footer>
  
  <div class="footer__copyright">
    &copy;
    {{ 'now' | date: '%Y' }}
    {{ shop.name | link_to: routes.root_url }}, {{ powered_by_link }}
  </div>

  <div class="footer__links">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="footer__payment">
    {% if section.settings.show_payment_icons %}
      {% for type in shop.enabled_payment_types %}
        {{ type | payment_type_svg_tag }}
      {% endfor %}
    {% endif %}
  </div>
</footer>

{% stylesheet %}
  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  footer a {
    text-decoration: none;
    color: var(--color-foreground);
  }
  footer .footer__links,
  footer .footer__payment {
    display: flex;
    gap: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
  "type": "checkbox",
  "id": "enable_wave",
  "label": "Enable Wave",
  "default": false
},
{
  "type": "header",
  "content": "Wave Settings"
},
    {
      "type": "range",
      "id": "container_height",
      "label": "Height",
      "min": 100,
      "max": 800,
      "step": 10,
      "unit": "px",
      "default": 100
    },
    {
      "type": "color",
      "id": "wave_color_1",
      "label": "Color 1",
      "default": "#00c8ff"
    },
    {
      "type": "range",
      "id": "wave_opacity_1",
      "label": "Color 1 Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },

    {
      "type": "color",
      "id": "wave_color_2",
      "label": "Color 2",
      "default": "#ff6464"
    },
    {
      "type": "range",
      "id": "wave_opacity_2",
      "label": "Color 2 Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 30
    },

    {
      "type": "color",
      "id": "wave_color_3",
      "label": "Color 3",
      "default": "#323232"
    },
    {
      "type": "range",
      "id": "wave_opacity_3",
      "label": "Color 3 Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 20
    },

    {
      "type": "color",
      "id": "wave_color_4",
      "label": "Color 4",
      "default": "#00ffc8"
    },
    {
      "type": "range",
      "id": "wave_opacity_4",
      "label": "Color 4 Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 20
    },

    {
      "type": "range",
      "id": "wave_amplitude",
      "label": "Wave Amplitude",
      "min": 5,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "range",
      "id": "wave_wavelength",
      "label": "Wave Length",
      "min": 100,
      "max": 1000,
      "step": 10,
      "default": 300
    },
    {
      "type": "range",
      "id": "wave_speed",
      "label": "Wave Speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 2
    },

    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    }
  ]
}
{% endschema %}
