{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}


<div class="product-page">

<div class="product-images">
  {% for image in product.images %}
    {% render 'image', class: 'product-image', image: image %}
  {% endfor %}
</div>



<div class="product-content">

<div class="product-info">
  <h1>{{ product.title }}</h1>
  <p>{{ product.price | money }}</p>
  <p>{{ product.description }}</p>
</div>

<div class="product-form">
  {% form 'product', product %}
    {% assign current_variant = product.selected_or_first_available_variant %}

    <select name="id">
      {% for variant in product.variants %}
        <option
          value="{{ variant.id }}"
          {% if variant == current_variant %}
            selected="selected"
          {% endif %}
        >
          {{ variant.title }} - {{ variant.price | money }}
        </option>
      {% endfor %}
    </select>

    <input type="text" name="quantity" min="1" value="1">

    <input type="submit" value="Add to cart">
    {{ form | payment_button }}
  {% endform %}
</div>
</div>

</div>

<style>
 .product-page {
  display: flex;
  flex-wrap: wrap;
  margin: -20px; 
}

.product-images,
.product-content {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 20px; 
  box-sizing: border-box; 
}

.product-images .product-image {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

.product-info h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.product-info p {
  margin-bottom: 10px;
}

.product-form select,
.product-form input[type="text"],
.product-form input[type="submit"] {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 10px;
}

.product-form {
  text-align: center;
  margin-top: 20px;
}

.shopify-payment-button__button {
  max-width: 300px;
  border-radius: 4px;
}



@media (max-width: 768px) {
  .product-images,
  .product-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px;
  }
}


</style>

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
