
<div class="richtext01 text-{{ section.settings.text_alignment}}" >
    <h1>{{section.settings.heading01}}</h1>
    <p>{{section.settings.sub-heading01}}</p>
    <a href="{{ section.settings.btn01_link }}" class="{% if section.settings['btn01-outline'] %}outline{% endif %}">{{ section.settings.btn01 }}</a>
</div>

<style>
    .richtext01 a {
  display: inline-block;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #000000; 
  color: #ffffff;
  transition: all 0.3s ease;
}

.richtext01 a:hover {
  background: #e5e5e5;
  color: #000;
}

.richtext01 a.outline {
  background-color: transparent;
  color: #000000;
  border: 2px solid #898b8f;
}

.richtext01 a.outline:hov
  backg01round-color: #000000;
  color: #ffffff;
}

.richtext01.text-left {
    text-align: left;
}

.richtext01.text-center {
    text-align: center;
}

.richtext01.text-right {
    text-align: right;
}

.richtext01 h1{
    font-size: 42px;
   margin-bottom: 12px;
}

.richtext01 p{
    font-size: 18px;
    margin-bottom: 24px;
}

.richtext01{
    margin: 40px 0;
}


</style>

{% schema %}
{
    "name": "Richtext01",

    "settings": [
        {
            "type": "text",
            "id": "heading01",
            "label": "Heading01",
            "default":"This is Heading field"
        },
        {
            "type": "text",
            "id": "sub-heading01",
            "label": "Sub-Heading01",
            "default": "Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store."
        },
        {
            "type": "text",
            "id": "btn01",
            "label": "Button label",
            "default":"Shop Now"
            
        },

        {
            "type": "url",
            "id": "btn01_link",
            "label": "Button link",
            "default":"/collections/all"
        },
        {
            "type": "checkbox",
            "id": "btn01-outline",
            "label": "Outline Style",
            "default": false
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "default":"center",
            "options": [
                {
                    "value": "left",
                    "label": "left"
                },
                {
                    "value": "center",
                    "label": "center"
                },
                {
                    "value": "right",
                    "label": "right"
                }
            ]
        }
        
        ],
        "presets": [
            {
                "name": "Richtext01"
            }
        ]
}
{% endschema %}