<div class="richtext-block {{ section.settings.blocks_alignment }}">
    {% for block in section.blocks %}
        {% case block.type %}

            {% when 'block_heading' %}
                <h1 {{block.shopify_attributes}}>{{block.settings.heading_block}}</h1>

            {% when 'block_sub_heading' %}
                <p {{block.shopify_attributes}}>{{block.settings.sub_heading_block}}</p>

            {% when 'block_btn' %}
                {% if block.settings.block_btn != blank %}
                <a href="{{ block.settings.block_btn_url }}" class="block_btn{% if block.settings.block_btn_outline %} outline{% endif %}">
                    {{ block.settings.block_btn }}
                </a>
                {% endif %}

                
                
            {% else %}
                <p {{ block.shopify_attributes }}>This block type is not supported yet.</p>
                
        {% endcase %}
        
    {% endfor %}
</div>



<style>
    .richtext-block{
        margin: 40px 0;
    }

    .richtext-block h1{
        font-size: 42px;
        margin-bottom: 12px;
    }

    .richtext-block p{
        font-size: 18px;
        margin-bottom: 24px;
    }

    .richtext-block.left{
        text-align: left;
    }
    .richtext-block.center{
        text-align: center;
    }
    .richtext-block.right{
        text-align: right;
    }

    .block_btn{
        display: inline-block;
        padding: 12px 30px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        border: none;
        cursor: pointer;
        background-color: #000000; 
        color: #ffffff;
        transition: all 0.3s ease;
    }

    .block_btn:hover{
        background: #e5e5e5;
        color: #000;
    }

    .block_btn.outline{
        background: transparent;
        color: #000;
        border: 2px solid #898b8f;
    }

    .block_btn.outline:hover{
        background: #000;
        color: #fff;
    }





</style>



{% schema %}
{
    "name": "Richtext01 Block",
    "settings": [
        {
            "type": "select",
            "id": "blocks_alignment",
            "label": "Blcok Alignment",
            "default":"center",
            "options": [
                {
                    "label": "left",
                    "value": "left"
                },
                {
                    "label": "center",
                    "value": "center"
                },
                {
                    "label": "right",
                    "value": "right"
                }
            ]
        }
        
        
        ],
        "blocks": [
            {
                "type": "block_heading",
                "name":"Heading Block",
                "settings": [
            {
                "type": "text",
                "id": "heading_block",
                "label": "Heading",
                "default":"This is heading Block"
            }
            ]
            },

            {
                "type":"block_sub_heading",
                "name":"Sub Heading Block",
                "settings": [
                    {
                        "type": "text",
                        "id": "sub_heading_block",
                        "label": "Sub heading",
                        "default":"This is sub heading block"
                    }
                ]
                                
            },
            {
                "type": "block_btn",
                "name": "button",
                "settings": [
                    {
                        "type": "text",
                        "id": "block_btn",
                        "label": "Block Button label",
                        "default":"Shop Now"
                    },
                    {
                        "type": "url",
                        "id": "block_btn_url",
                        "label": "Block Button link",
                        "default":"/collections/all"
                    },
                    {
                        "type": "checkbox",
                        "id": "block_btn_outline",
                        "label": "Block Outline style",
                        "default": false
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Richtext01 Block"
            }
        ]
}
{% endschema %}